// colors
$whiteBackground: #f1f1f1;
$darkCopy: #152026;
$blueBorder: #969b9d;
$blueBackground: #416375;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1224px;

// fonts
$mainFont: "Open Sans", sans-serif;