.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%; }

.preloader {
  position: absolute;
  z-index: 1001;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto; }
  .preloader__image {
    display: block;
    margin: 0 auto;
    transform: translateY(-50%); }

.preloader__section {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 51%;
  height: 100%;
  background-color: #222; }
  .preloader__section--left {
    left: 0; }
  .preloader__section--right {
    right: 0; }

.loaded .preloader {
  opacity: 0;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded .preloader__section--left {
  transform: translateX(-100%);
  transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded .preloader__section--right {
  transform: translateX(100%);
  transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded .preloader-wrapper {
  transform: translateY(-100%);
  transition: all 0.1s 1.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 16px;
  background-color: #f1f1f1; }

.container {
  margin: 0 auto;
  max-width: 1000px; }

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px 0 #152026;
  background-color: #152026; }
  @media (min-width: 768px) {
    .hero {
      height: 600px;
      height: 49.7vw; } }
  .hero--page {
    height: 600px; }
  .hero--map {
    position: relative;
    height: 100vh;
    min-height: 960px; }
  .hero__text-content {
    position: absolute;
    bottom: 70px;
    right: 70px;
    text-align: right; }
  .hero__image {
    position: absolute;
    left: -9999px;
    right: -9999px;
    top: -9999px;
    bottom: -9999px;
    display: block;
    width: 1920px;
    margin: auto; }
  .hero__map {
    width: 100%; }
    .hero__map img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
  .hero__title {
    margin: 0;
    color: #ffffff;
    font-family: "Intro", Arial, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5; }
    .hero__title small {
      font-size: 2.25rem; }
  .hero__subtitle {
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.5; }

@keyframes neon {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.scene {
  position: relative;
  width: 104%;
  height: 49.7vw;
  background-color: #000000; }
  .scene__background {
    position: absolute;
    display: block;
    width: 100%; }
  .scene__signboard {
    position: absolute;
    display: block;
    width: 100%;
    animation-name: neon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; }
  .scene__bar {
    position: absolute;
    display: block;
    width: 100%; }
  .scene__lamps {
    position: absolute;
    display: block;
    width: 100%; }
  .scene__wild {
    position: absolute;
    display: block;
    width: 100%; }
  .scene__chairs {
    position: absolute;
    display: block;
    width: 100%; }
  .scene__sprite {
    position: absolute; }
  .scene__helper {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 32px;
    width: 32px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%; }

.button {
  display: inline-block;
  height: 48px;
  padding: 14px 25px;
  margin-right: 30px;
  color: #152026;
  font-family: "Intro", Arial, sans-serif;
  font-weight: 100;
  font-size: 1.125rem;
  text-decoration: none;
  border: 1px solid #969b9d;
  border-radius: 24px; }
  .button:hover {
    opacity: 0.8; }
  .button--light {
    padding-top: 15px;
    font-weight: 400;
    background-color: #ffffff;
    border: none; }
  .button--dark {
    padding-top: 15px;
    color: #ffffff;
    font-weight: 400;
    background-color: #416375;
    border: none; }
  .button--outline-light {
    color: #ffffff; }
  .button--no-margin {
    margin-right: 0; }

.button-block {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 0; }

.site-header {
  position: absolute;
  z-index: 2;
  padding: 70px;
  width: 20%; }
  @media (min-width: 768px) {
    .site-header {
      height: 600px; } }
  @media (min-width: 1224px) {
    .site-header {
      height: 100vh; } }
  .site-header--map {
    height: 100vh;
    min-height: 960px; }
  .site-header--page {
    height: 600px; }
  .site-header__logo {
    height: 142px;
    width: 176px; }
    .site-header__logo img {
      width: 100%; }
  .site-header__logo-fallback {
    display: none; }

.main-menu {
  position: absolute;
  bottom: 70px; }
  .main-menu--main-page {
    top: 70px;
    bottom: auto; }
  .main-menu__list {
    padding: 0;
    margin: 0;
    font-size: 0;
    list-style: none; }
  .main-menu__item {
    position: relative;
    padding-top: 30px;
    font-size: 18px; }
    .main-menu__item a {
      position: relative;
      color: white;
      font-family: "Intro", Arial, sans-serif;
      text-decoration: none; }
      .main-menu__item a:hover {
        opacity: 0.8; }

.for-owners {
  position: absolute;
  right: 70px;
  top: 70px;
  z-index: 2;
  width: 142px;
  height: 98px; }
  .for-owners img {
    width: 100%;
    height: auto; }
  .for-owners:hover {
    opacity: 0.8; }

.shop-item {
  display: flex;
  align-content: flex-end; }
  .shop-item--alternate {
    flex-direction: row-reverse; }
  .shop-item__image {
    position: relative;
    height: 600px;
    width: 375px; }
    .shop-item__image img {
      position: absolute;
      right: 0; }
  .shop-item__description {
    position: relative;
    padding-top: 40px;
    width: 625px; }
  .shop-item__caption {
    padding: 0;
    margin: 0;
    color: #152026;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 3rem;
    line-height: 1.5; }
    .shop-item__caption--light {
      color: #ffffff; }
  .shop-item__text {
    color: #152026;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 1.6; }
    .shop-item__text--light {
      color: #ffffff; }

.faq-item {
  position: relative;
  width: 470px;
  display: inline-block;
  vertical-align: top; }
  .faq-item--alternate {
    margin-left: 300px; }
  .faq-item--top {
    padding: 75px 0;
    width: 600px; }
    .faq-item--top .faq-item__question {
      font-size: 3rem; }
  .faq-item__question {
    position: relative;
    z-index: 2;
    color: #152026;
    font-family: "Open Sans", sans-serif;
    font-size: 2.25rem;
    font-weight: 100;
    line-height: 1.5; }
  .faq-item__answer {
    position: relative;
    z-index: 2;
    color: #152026;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 1.6; }
  .faq-item__number {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100px;
    color: #a6b1b7;
    font-family: "Intro", Arial, sans-serif;
    font-size: 18.75rem;
    font-weight: 900;
    line-height: 1;
    user-select: none; }

.small-questions {
  margin: 0 auto;
  max-width: 1000px;
  column-count: 2; }

.footer {
  padding-top: 60px;
  font-size: 0;
  text-align: center; }
  .footer .footer__logo {
    height: 142px;
    width: 176px;
    margin: 0 auto; }
    .footer .footer__logo img {
      width: 100%; }

.footer-menu {
  background-color: #152026;
  box-shadow: 0 0 20px 0 #152026; }
  .footer-menu__list {
    padding: 5px 0;
    list-style: none; }
  .footer-menu__item {
    display: inline-block;
    padding: 15px; }
    .footer-menu__item a {
      color: #ffffff;
      font-family: "Intro", Arial, sans-serif;
      font-weight: 100;
      font-size: 1rem;
      text-decoration: none; }
      .footer-menu__item a:hover {
        opacity: 0.8; }

.social {
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto; }
  .social__icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    padding: 4px;
    color: #152026;
    font-size: 1.125rem;
    border: 1px solid #969b9d;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px; }
    .social__icon:hover {
      color: #ffffff;
      background-color: #152026;
      border: 1px solid #152026; }

.copyrights {
  padding: 10px 0;
  font-size: 0.875rem;
  font-weight: 100; }

.section {
  padding: 40px 0; }
  .section--dark {
    background-color: #000000; }
  .section--promo {
    position: relative;
    height: 800px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #152026; }

.promo-item__description {
  position: absolute;
  left: -9999px;
  right: -9999px;
  width: 1224px;
  margin: auto;
  padding-top: 160px; }

.promo-item__caption {
  width: 625px;
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5; }

.promo-item__text {
  width: 450px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.6; }

.promo-item__image {
  position: absolute;
  left: -9999px;
  right: -9999px;
  width: 1920px;
  margin: auto; }
  .promo-item__image img {
    width: 100%;
    height: auto; }

.map-marker {
  position: absolute;
  z-index: 3;
  font-size: 32px; }
  .map-marker:hover > .map-marker__description {
    display: block; }
  .map-marker__marker {
    display: block;
    color: #ffffff;
    cursor: pointer; }
  .map-marker__description {
    position: absolute;
    left: 10px;
    display: none;
    padding: 20px;
    padding-bottom: 10px;
    min-width: 300px;
    background-color: #f1f1f1; }
  .map-marker__city-name {
    font-family: "Intro", Arial, sans-serif;
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 15px; }
  .map-marker__address {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5; }
  .map-marker--kld {
    top: 515px;
    left: 165px; }
  .map-marker--msk {
    top: 580px;
    left: 470px; }
  .map-marker--spb {
    top: 465px;
    left: 295px; }
