.footer-menu {
    // visual
    background-color: $darkCopy;

    &__list {
        // box model
        padding: 5px 0;
        
        // visual
        list-style: none;
    }

    &__item {
        // box model
        display: inline-block;
        padding: 15px;

        & a {
            // typography
            color: #ffffff;
            font-family: $mainFont;
            font-weight: 100;
            font-size: 1.125rem;
            text-decoration: none;
        }
    }
}