.footer-menu {
    // visual
    background-color: $darkCopy;
    box-shadow: 0 0 20px 0 $darkCopy;

    &__list {
        // box model
        padding: 5px 0;
        
        // visual
        list-style: none;
    }

    &__item {
        // box model
        display: inline-block;
        padding: 15px;

        & a {
            // typography
            color: #ffffff;
            font-family: $boldFont;
            font-weight: 100;
            font-size: 1rem;
            text-decoration: none;

            &:hover {
                // visual
                opacity: 0.8;
            }
        }
    }
}