.for-owners {
    // positioning
    position: absolute;
    right: 70px;
    top: 70px;
    z-index: 2;

    // box model
    width: 142px;
    height: 98px;
    // border: 1px solid red;

    & img {
        // box model
        width: 100%;
        height: auto;
    }
}