.hero {
    // positioning
    position: relative;

    // border: 1px solid red;
    // box model
    width: 100%;
    @media (min-width: $tablet) {
        height: 600px;
    }
    @media (min-width: $desktop) {
        height: 800px;
    }

    // visual
    overflow: hidden;
    box-shadow: 0 0 20px 0 $darkCopy;

    &--page {
        height: 600px;
    }

    &__text-content {
        // border: 1px solid red;
        // positioning
        position: absolute;
        bottom: 70px;
        right: 70px;

        // typography
        text-align: right;
    }

    &__image {
        // positioning
        position: absolute;
        left: -9999px;
        right: -9999px;
        // top: -9999px;
        // bottom: -9999px;
        // left: 50%;
        // top: 50%;

        // box model
        display: block;
        width: 1920px;
        margin: auto;
        // margin-left: -960px;
        // margin-top: -540px;
    }

    &__title {
        // box model
        margin: 0;

        // typography
        color: #ffffff;
        font-family: $boldFont;
        font-weight: 800;
        font-size: 3rem;
        line-height: 1.5;

        & small {
            // typography
            font-size: 2.25rem;
        }
    }

    &__subtitle {
        // box model
        margin: 0;
        // margin-bottom: 40px;

        // typography
        color: #ffffff;
        font-family: $mainFont;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 1.5;
    }
}