.main-menu {
    // positioning
    position: absolute;
    bottom: 70px;
    // border: 1px solid red;

    // box model
    // border: 1px solid green;

    &--main-page {
        top: 70px;
        bottom: auto;
    }

    &__list {
        // box model
        padding: 0;
        margin: 0;

        // typography
        font-size: 0;

        // visual
        list-style: none;
    }

    &__item {
        // positioning
        position: relative;

        // box model
        padding-top: 30px;

        // typography
        font-size: 18px;

        & a {
            // positioning
            position: relative;

            // border: 1px solid red;
            // typography
            color: white;
            font-family: $boldFont;
            text-decoration: none;

            &:hover {
                // visual
                opacity: 0.8;
            }
        }
    }
}