.site-header {
    // border: 1px solid red;
    // positioning
    position: absolute;
    z-index: 2;

    // box model
    padding: 70px;
    width: 20%;
    @media (min-width: $tablet) {
        height: 600px;
    }
    @media (min-width: $desktop) {
        // height: 800px;
        height: 100vh;
        // height: 75vh;
    }

    &--map {
        height: 100vh;
        min-height: 960px;
    }

    &--page {
        height: 600px;
    }

    &__logo {
        // box model
        height: 142px;
        width: 176px;

        & img {
            // box model
            width: 100%;
        }
    }

    &__logo-fallback {
        // box model
        display: none;
    }
}